@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    position: relative;
    padding-bottom: 4px;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #65c3A1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-link.active::after {
    transform: scaleX(1);
  }